#gameContainer {
  position: relative;
  width: 1152px;
  height: 640px;

  margin-left: auto;
  margin-right: auto;

  margin-top: max(0px, calc((100vh - 640px) / 2));

  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#canvas {
  display: block; 
}

.overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  z-index: 10;
}

#gameOverImage {
  margin-top: -250px;  
}

#endScreen {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
}


#endImage {
  margin-top: -250px;  
  
}

#aurevoirUmbra {
  width: 180px;      
  height: 53px;      

  background: url("./assets/umbra.png") left center no-repeat;
  background-size: 720px 53px; 

  animation: umbraAnim 0.4s steps(4) infinite;

  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.16));
}

@keyframes umbraAnim {
  from { background-position: 0 0; }
  to   { background-position: -720px 0; }
}


#Title {
position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
}

#Name {
  position: absolute;
  top: 89%;
  left: 89.5%;
  height: 15%;
  width: auto;
}

#cutScene{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.75);
  color: rgb(0, 0, 0);
}

#startBtn, #restartBtn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 50px;
  background: none;
  border-radius: 20px;
}

#playAgainBtn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 50px;
  background: none;
  border-radius: 20px;
  color: rgb(69, 0, 0);
}

.hidden {
  display: none;
}

